# PostgreSQL
POSTGRES_DB=twinpix
POSTGRES_USER=twinpix
POSTGRES_PASSWORD=twinpix123

# Kafka
KAFKA_BROKER=kafka:9092

# Portas dos servicos Java
API_GATEWAY_PORT=8080
DIRECTORY_PORT=8081
PROCESSING_CORE_PORT=8082

# Porta do servico Python
DIGITAL_TWIN_PORT=8090

# Infra
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
